.title {
    display: block;
    padding: 1.2rem;
}

h1 {
    padding-top: 3rem;
    font-size: 16pt;
    text-align: center;
}

.pre-title {
    display: var(--flex-display);
    flex-direction: column;
    align-items: center;
    width: 15rem;
    font-size: 16pt;
    height: 0.8rem;
    border-bottom: 1px solid var(--main-font-color);
    margin: 0 auto;
}

.main-title {
    font-size: 40pt;
    margin: 0 auto;
    text-align: center;
}