nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
}

.menu-itens {
    display: var(--flex-display);
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0 4rem;
    margin: .3rem;
}

.menu-link {
    text-decoration: none;
    font-size: 18pt;
    padding: 0;
}

.menu-link:hover {
    color: #b6b6b6;
    text-decoration: overline;
    transition: 1s;
}