@media screen and (max-width: 1281px) {
    #characters {
        column-gap: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .menu-itens {
        padding: 0 5rem;
    }
    #characters {
        column-gap: 9rem;
    }
    #characters {
        grid-template-columns: var(--default-width) var(--default-width);
    }
}

@media screen and (max-width: 768px) {
    .menu-itens {
        padding: 0 1rem;
    }
    #characters {
        grid-template-columns: var(--default-width) var(--default-width);
        column-gap: 4rem;
    }
}

@media screen and (max-width: 700px) {
    #characters {
        grid-template-columns: var(--default-width);
    }
    .characters {
        display: grid;
        text-align: center;
        justify-content: center;
    }
}