@font-face {
    font-family: "The Mandalorian";
    src: url(../assets/fonts/mandalore.ttf);
}

@font-face {
    font-family: "Star Wars";
    src: url(../assets/fonts/starjedi.ttf);
}

* {
    box-sizing: border-box;
    color: #E6E6E6;
    background-color: #303030;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 8px;
}

.title {
    display: block;
    margin-bottom: 4rem;
}

.md-font {
    font-family: "The Mandalorian";
}

h1 {
    margin-top: 3rem;
    font-family: "Star Wars";
    font-size: 16pt;
    text-align: center;
}

.pre-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    font-size: 16pt;
    height: 0.2rem;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 auto;
}

.main-title {
    font-size: 40pt;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
}
.menu-itens {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0 20rem;
}

.menu-link {
    text-decoration: none;
    font-size: 18pt;
    padding: 0;
}

.menu-itens li {
    display: inline-flex;
    font-family: "The Mandalorian";
}

.menu-link:hover {
    color: #b6b6b6;
    text-decoration: overline;
    transition: 1s;
}

.all-title {
    padding-top: 60px;
    font-size: 40pt;
    text-align: center;
}

.about {
    padding: 2rem 2rem 0 2rem ;
}

.p-article {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    text-align: justify;
    background-color: #ffefd0;
    color: #303030;
    padding: 1.5rem;
    border-radius: 50px 0 50px 0;
}

#characters {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.character-item {
    list-style: none;
}
.character-image {
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.character-image img {
    height: 300px;
    border-radius: 10px;
    border: 3px solid #E6E6E6;
}

.character-image img:hover {
    border: 1px solid #E6E6E6;
    transition: 0.5s;
}

figcaption {
    font-family: "The Mandalorian";
    font-size: 24pt;
    text-align: center;
}

.footer {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.social-media-list {
    list-style: none;
    width: 150px;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
}

h3 {
    width: 100%;
    text-align: center;
}

.social-media-image {
    width: 30px;
}

@media screen and (min-width: 1281px) {
    #characters {
        column-gap: 7rem;
    }
}

@media screen and (max-width: 1024px) {
    #characters {
        grid-template-columns: 300px 300px;
        column-gap: 5rem;
    }   
    .menu-itens {
        padding: 0 7rem;
    }    
}

@media screen and (max-width: 768px) {
    .menu-itens {
        padding: 0 3rem;
    }
    #characters {
        grid-template-columns: 300px 300px;
        column-gap: 4rem;
    }
} 

@media screen and (max-width: 700px) {
    .menu-itens {
        padding: 0 0.8rem;
    }
    #characters {
        grid-template-columns: 300px;     
    }   
    .characters {
        display: grid;
        text-align: center;
        justify-content: center;
    }
}