:root {
    --main-font-color: #E6E6E6;
    --main-bg-color: #303030;
    --default-width: 300px;
    --flex-display: flex;
}

@font-face {
    font-family: "The Mandalorian";
    src: url(../assets/fonts/mandalore.ttf);
}

@font-face {
    font-family: "Star Wars";
    src: url(../assets/fonts/starjedi.ttf);
}

* {
    box-sizing: border-box;

}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

#app {
    display: var(--flex-display);
    flex-direction: column;
    align-items: center;
}

.colors-default {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

.colors-light {
    color: var(--main-bg-color); 
    background-color: var(--main-font-color);
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
}

.menu-itens {
    display: var(--flex-display);
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0 4rem;
    margin: .3rem;
}

.menu-link {
    text-decoration: none;
    font-size: 18pt;
    padding: 0;
}

.menu-link:hover {
    color: #b6b6b6;
    text-decoration: overline;
    transition: 1s;
}

.theme {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem .2rem;
}

.color-theme {
    width: 20px;
    height: 20px;
    background-color: var(--main-font-color);
    border-radius: 10px;
}

.title {
    display: block;
    padding: 1.2rem;
}

.md-font {
    font-family: "The Mandalorian";
}

.sw-font {
    font-family: "Star Wars";
}

h1 {
    padding-top: 3rem;
    font-size: 16pt;
    text-align: center;
}

.pre-title{
    display: var(--flex-display);
    flex-direction: column;
    align-items: center;
    width: 15rem;
    font-size: 16pt;
    height: 0.8rem;
    border-bottom: 1px solid var(--main-font-color);
    margin: 0 auto;
}

.main-title {
    font-size: 40pt;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
}

.all-title {
    padding-top: 60px;
    font-size: 40pt;
    text-align: center;
}

.about {
    padding: 2rem;
}

.p-article {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    text-align: justify;
    background-color: #ffefd0;
    color: var(--main-bg-color);
    padding: 1.5rem;
    border-radius: 50px 0 50px 0;
    border: 1px solid var(--main-bg-color);
}

#title-characters {
    width: 100%;
}

#characters {
    display: grid;
    grid-template-columns: var(--default-width) var(--default-width) var(--default-width);
    column-gap: 6rem;
    grid-column: 1rem;   
    align-items: center;
    padding: 0;
    margin: 0;
}

.character-item {
    display: var(--flex-display);
    flex-direction: column;
    align-items: center;
    width: var(--default-width);
    height: 350px;
    list-style: none;
}

figure {
    width: var(--default-width);
    margin: 0;
    padding: 0;
}


.character-image img {
    border-radius: 10px;
    border: 3px solid var(--main-font-color);
}

.character-image img:hover {
    border: 1px solid var(--main-font-color);
    transition: 0.5s;
}

figcaption {
    font-size: 24pt;
    text-align: center;
}

.footer {
    display: var(--flex-display);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.social-media-list {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    width: 150px;
    padding: 0;
    margin: 0;
}

.social-media-image {
    width: 30px;
}

@media screen and (max-width: 1281px) {
    #characters {
        column-gap: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .menu-itens {
        padding: 0 5rem;
    }

    #characters {
        column-gap: 9rem;
    }

    #characters {
        grid-template-columns: var(--default-width) var(--default-width);
    }   
}

@media screen and (max-width: 768px) {
    .menu-itens {
        padding: 0 1rem;
    }

    #characters {
        grid-template-columns: var(--default-width) var(--default-width);
        column-gap: 4rem;
    }
} 

@media screen and (max-width: 700px) {
    #characters {
        grid-template-columns: var(--default-width);     
    }   
    .characters {
        display: grid;
        text-align: center;
        justify-content: center;
    }
}