.colors-default {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    transition: .2s;
}

.colors-light {
    color: var(--main-bg-color);
    background-color: var(--main-font-color);
    transition: .2s;
}

.rotate {
    transform: rotate(180deg);
    transition: .2s;
}

.color-theme {
    width: 20px;
    height: 20px;
    background-color: var(--main-font-color);
    border-radius: 10px;
    transition: .2s;
}

.theme {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem .2rem;
}