.footer {
    display: var(--flex-display);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}