
.about {
    padding: 2rem;
}

.p-article {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    text-align: justify;
    background-color: #ffefd0;
    color: var(--main-bg-color);
    padding: 1.5rem;
    border-radius: 50px 0 50px 0;
    border: 1px solid var(--main-bg-color);
}